[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
hypercorn = "*"
pytest = "*"
pytest-asyncio = "*"
"pyannote.audio" = "*"

[dev-packages]

[requires]
python_version = "3.10"
